* {
    font-family: system-ui;
    text-transform: capitalize;
}
.about {
    width: 100%;
    color: #000000;
    padding: 1rem 1rem;
    font-family: system-ui;
}

.about .container {
    max-width: 1240px;
    margin: auto;
    text-align: center;
}

.about ul {
    display: flex;
    justify-content: center;
}

.about img {
    width: 30vh;
    height: 40vh;
}

mark {
    background-color: rgb(250, 224, 158);
}

.about li {
    padding: 1rem;
}

.about li a {
    color: #000000;
}

.about li a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid black;
}

.bottom {
    text-align: center;
    padding-top: 3rem;
}

.line {
    margin-bottom: 1.5rem;
    background-color: black;
}





